/* body {
    font-family: "Inter", sans-serif;
    background-color: #e9e9e9;
} */

/* #icon {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

#logo {
    width: 150px;
    height: 70px;
} */

/* h1 {
    font-size: 36px;
    text-align: center;
}

li {
    color: black;
    list-style: none;    
}

h2 {
    color: rgb(41, 39, 39);
    font-size: 25px; 
} */

/* button {
    background-color: #e9e9e9;
    padding: 5px;
    font-size: 15px;
    border-radius: 10px;
}

button:hover {
    background-color: rgba(185, 181, 181, 0.5);
    cursor: pointer;
} */

.precio {
    font-size: 17px;
    font-weight: bold;
}

#promo {
    font-size: 20px;
    color: red; 
}

#precio-tachado {
    text-decoration: line-through;
}

#icono-busqueda {
    width: 35px;
    height: 30px;
}

.texto-color {
    color:rgb(124, 69, 175);
}


.logo-usuario {
    display: flex;
    justify-content: space-between;
}

.usuario-icon {
    display: flex;
    text-align: center;
    justify-content: flex-end;
    align-items: center;
}

.usuario-icon p {
    margin-right: 15px;
    margin-top: 15px;
}

.usuario-icon img {
    margin-right: 10px;
}

.nav-index ul {
    display: flex;
    justify-content: space-between;
    border: solid 1px rgb(119, 114, 114, 0.5);
    padding: 10px;
}

.nav-index ul li {
    margin: 10px 0;
}

.nav-index ul li a{
    text-decoration: none;
    color: black;
    margin: 10px;
    padding: 10px;
    border: solid 1px rgb(119, 114, 114, 0.5);
    border-radius: 10px;
}

.nav-index ul li a:hover {
    background-color: rgba(185, 181, 181, 0.5);
}

.main-index {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "imagen imagen productos productos"
    "imagen imagen productos productos"
    "imagen imagen productos productos"
    "imagen imagen productos productos";
}

.imagen-index {
    grid-area: imagen;
}

.imagen-index img {
    width: 100%;
}

.productos {
    grid-area: productos;
}

footer {
    display: flex;
    background-color: rgba(15, 14, 14, 0.5);
    gap: 10px;
    padding: 1rem;
    text-align: center;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    color: rgb(0, 0, 0, 0.7);
}

.main-cuidado-cabello {
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "producto1 producto1 cabello cabello"
    "producto1 producto1 cabello cabello"
    "producto2 producto2 cabello cabello"
    "producto2 producto2 cabello cabello"
}

.producto-cabello-1 {
    grid-area: producto1;
    display: flex;
}

.producto-cabello-2 {
    grid-area: producto2;
    display: flex;
}

.cuidado-cabello {
    grid-area: cabello;
}

.cuidado-cabello img {
    width: 100%;
    height: 100%;
}

.producto-cabello-1 section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    padding: 10px;
    text-align: center;
}

.p-cabello img {
    width: 65%;
    height: 65%;
}

.producto-cabello-2 section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    padding: 10px;
    text-align: center;
}

.main-makeup {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "producto1 producto2"
    "producto3 producto4"
}

.main-makeup div {
    border: solid 0.5px rgb(119, 114, 114, 0.5);
}

.producto-makeup-1 {
    grid-area: producto1;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.producto-makeup-2 {
    grid-area: producto2;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.producto-makeup-3 {
    grid-area: producto3;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.producto-makeup-4 {
    grid-area: producto4;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-makeup img {
    width: 60%;
    height: 60%;
}

.main-skincare {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "producto1 imagen"
    "producto2 imagen"
}

.producto-skincare-1 {
    grid-area: producto1;
}

.producto-skincare-2 {
    grid-area: producto2;
}

.imagen-skincare {
    grid-area: imagen;
    width: 100%;
    height: 100%;
}

.p-skincare{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(119, 114, 114, 0.5);
    margin: 25px;
}
.p-skincare:hover{
    background-color: rgb(119, 114, 114, 0.2);
    cursor: pointer;
}

.main-skincare .p-skincare img{
    width: 50%;
    height: 45%;
}

.main-asesor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-asesor .btn-group {
    display: flex;
    text-align: center;
}