body {
    font-family: "Inter", sans-serif;
    background-color: #fafafa;
    
    h1 {
        font-size: 36px;
        text-align: center;
    }
    
    li {
        color: black;
        list-style: none;    
    }
    
    h2 {
        color: rgb(41, 39, 39);
        font-size: 25px; 
    }
}

